/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* RESET PAGE */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
}
/* SCROLLBARR */
::-webkit-scrollbar {
  display: none;
}
/* ROOT COLORS */
:root {
  --background-color: #efebe8;
  --background-color-secondary: #fff;
  --font-color: #111111;
  --font-grayscale: #7a7a7a;
  --accent-color: #ff6ad5;
  --button-color: #010101;
  --accent-background: linear-gradient(to right top, #f80757cc, #ff6ad5);
}
/* BODY */
body {
  background-color: var(--background-color);
}
/* MENU */
header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  background-color: var(--background-color);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
}

header ul {
  height: 100%;
  align-items: center;
  display: flex;
  gap: 1rem;
}

header ul li {
  transition-property: text-decoration;
  transition-duration: 1.5s;
  font-size: 1.2rem;
}

header ul li:hover {
  text-decoration: underline;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div i {
  font-size: 1.5rem;
  margin-right: 1rem;
  display: flex;
}

.marked-link {
  color: var(--accent-color);
  font-weight: 600;
}

/* ALL BUTTONS */
.btn {
  background-color: var(--button-color);
  border-radius: 4px;
  color: #ddd;
  padding: 1rem 1.5rem;
  border: 2px solid var(--button-color);
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  box-shadow: inset 0px 60px 0px 0px var(--background-color);
  color: var(--font-color);
}

.btn-border {
  border-radius: 4px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  border: 2px solid var(--button-color);
  transition: 0.5s;
}

.btn-border:hover {
  box-shadow: inset 0px 60px 0px 0px var(--button-color);
  color: var(--background-color);
}

/* MAIN e CONTENT*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.content {
  width: 100%;
  padding: 0px 100px;
}

/* CONTENT */
.content {
  width: 100% !important;
  max-width: 1480px;
  height: max-content;
  margin-inline: auto;
}

/* CATALOG */
.catalog {
  width: 80%;
  padding: 0px 100px;
}
/* BANNER CATALOG */
.banner-catalog {
  width: 100%;
  height: 50vh;
  background-image: url("https://images.unsplash.com/photo-1724934956582-aab996f08484?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 90px;
}

.banner-catalog div {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to right, #f807577a, #bc4e9dd2);
  background: linear-gradient(to right, #f807577a, #bc4e9dd2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-catalog div h3,
.banner-catalog div h4 em {
  font-size: 3rem;
  color: var(--background-color);
}

.banner-catalog div h4 em {
  font-weight: 500;
  font-size: 4rem;
}

.banner-catalog div i {
  font-size: 5rem;
  display: flex;
  margin-bottom: 20px;
  color: var(--background-color);
}

/* TITLES */
.title {
  margin: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  font-size: 3rem;
}

.title em {
  font-weight: 500;
  color: var(--accent-color);
}

.title p {
  font-size: 1.4rem;
}

.title-search {
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
}

.title-search input {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 70px;
  font-size: 1.2rem;
  padding-right: 20px;
  background-color: var(--background-color-secondary);
  box-shadow: 0px 20px 20px 0px #00000010;
  transition: 0.3s;
}

.title-search i {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 7px;
  border-radius: 5px;
  background-color: var(--background-color);
  font-size: 1.5rem;
  transition: 0.3s;
}

.title-search input:focus::placeholder {
  opacity: 0;
}

/* BOX PRODUCTS */
.products-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 150px;
}

.products-box li {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  animation: renderitens 1s;
}

.products-box li:hover figure {
  background-color: var(--accent-color);
}

.products-box li img {
  width: 100%;
  filter: drop-shadow(-10px 20px 5px #00000020);
}

.products-box li figure {
  background-color: white;
  transition: 0.5s;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-box div {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-box div h3 {
  width: 80%;
  margin-top: 15px;
  line-height: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.products-box div h6 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.products-box div h6 em {
  font-size: 0.9rem;

  line-height: 0;
}

.products-box i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1.2rem;
  background: var(--accent-background);
  border-radius: 5px;
  color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
}

.products-box i:hover {
  scale: 1.1;
  bottom: 5px;
}

.no-product {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  animation: renderitens 1s;
  flex-direction: column;
}

.no-product i {
  font-size: 10rem;
}

.no-product h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-grayscale);
}

.no-product h4 em {
  color: var(--font-color);
  font-weight: 600;
  text-decoration: underline;
}

@keyframes renderitens {
  0% {
    opacity: 0;
  }
}
