/* MESSAGES */
.message-info-product,
.message-warning-final {
  height: 80px;
  z-index: 1;
  position: fixed;
  right: 0px;
  top: 100px;
  padding: 0px 40px;
  margin-top: 30px;
  font-size: 1.2rem;
  background-color: rgb(0, 255, 106);
  border-radius: 10px 0px 0px 10px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 15px 10px 20px -10px #00000027;
  animation: messages 0.5s;
}

.message-warning-final {
  background-color: #ff8522;
}

.message-info i,
.message-warning-final i {
  display: flex;
  font-size: 1.4rem;
}

@keyframes messages {
  0% {
    right: -100%;
  }
}
