/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* RESET PAGE */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
}
/* SCROLLBARR */
::-webkit-scrollbar {
  display: none;
}
/* BODY */
body {
  background-color: var(--background-color);
}
/* ROOT COLORS */
:root {
  --background-color: #efebe8;
  --background-color-secondary: #c9ced769;
  --font-color: #111111;
  --font-grayscale: #7a7a7a;
  --accent-color: #3a486b;
  --button-color: #010101;
}
/* MENU */
header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  background-color: var(--background-color);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
}

header ul {
  height: 100%;
  align-items: center;
  display: flex;
  gap: 1rem;
}

header ul li {
  transition-property: text-decoration;
  transition-duration: 1.5s;
  font-size: 1.2rem;
}

header ul li:hover {
  text-decoration: underline;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div i {
  font-size: 1.5rem;
  margin-right: 1rem;
  display: flex;
}

/* ALL BUTTONS */
.btn {
  background-color: var(--button-color);
  border-radius: 4px;
  color: #ddd;
  padding: 1rem 1.5rem;
  border: 2px solid var(--button-color);
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  box-shadow: inset 0px 60px 0px 0px var(--background-color);
  color: var(--font-color);
}

.btn-border {
  border-radius: 4px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  border: 2px solid var(--button-color);
  transition: 0.5s;
}

.btn-border:hover {
  box-shadow: inset 0px 60px 0px 0px var(--button-color);
  color: var(--background-color);
}

/* MAIN e CONTENT*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.content {
  width: 100%;
  padding: 0px 100px;
}

/* HERO */
.hero {
  display: flex;
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 90px;
}

.hero-text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 70px 0px 100px;
}

.hero-text h1 {
  font-size: 6rem;
  font-weight: 800;
}

.hero-text p {
  color: var(--font-grayscale);
  font-size: 1.5rem;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  width: max-content;
}

.hero-text ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 70px;
  gap: 30px;
}

.hero-text ul li {
  display: flex;
  flex-direction: column;
}

.hero-text ul i {
  display: flex;
  font-size: 3rem;
}

.hero-text ul h5 {
  font-size: 1.2rem;
  margin-top: 20px;
  color: var(--font-grayscale);
}

.hero-image {
  width: 50%;
  object-fit: cover;
  animation: 25s hero infinite;
  background-position: center;
}

@keyframes hero {
  0%,
  20% {
    background-size: cover;
    background-image: url(../img/background-hero.png);
  }

  21%,
  45% {
    background-size: cover;
    background-image: url("https://wallpapers.com/images/featured/pink-makeup-cx8q2py39wzvz5bc.jpg");
  }

  47%,
  65% {
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/1926620/pexels-photo-1926620.jpeg");
  }

  67%,
  90% {
    animation: ease;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFrZXVwJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
  }

  93%,
  100% {
    background-size: cover;
    background-image: url(../img/background-hero.png);
  }
}
