@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--font-color);
}

::-webkit-scrollbar {
    display: none;
}

:root{
    --background-color: #efebe8;
    --background-color-secondary: #c9ced769;
    --font-color: #111111;
    --font-grayscale: #7a7a7a;
    --accent-color: #3a486b;
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    height: 89px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
}

header nav {
    display: flex;
}

header ul {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 1rem;
}

header ul li{
    transition-property: text-decoration;
    transition-duration: 1.5s;
    font-size: 1.2rem;
}

header ul li:hover {
    text-decoration: underline;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header div i {
    font-size: 1.5rem;
    margin-right: 1rem;
    display: flex;
}

.btn{
    background-color: black;
    border-radius: 4px;
    color: #ddd;
    padding: 0.6rem 1rem;
}

.hero {
    background-color: white;
    height: calc(100vh - 89px);
    padding: 0 0 0 100px ;
    justify-content: center;
    margin-top: 85px;
    display: flex;
    width: 100%;
}

.hero-text-container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
}

.hero-text-container h1 {
    font-size: 6rem;
}

.hero-text-container p {
    font-size: 1.5rem;
}

.hero-button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

.bg-solid {
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.8rem;
    background-color: black;
    text-align: center;
    color: white;
    width: 150px;
}

.bg-transparent {
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    padding: 0.8rem;
    text-align: center;
    width: 150px;
}

.card-icon-container {
    display: flex;
}

.card-icon-container div {
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.card-icon-container div p{
    text-align: center;
    font-size: 1.4rem;
}

.card-icon-container i {
    font-size: 1.5rem;
}

.img-hero {
    width: 50%;
    background-color: var(--accent-color);
    height: 100%;
}

.img-hero img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}