/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* RESET PAGE */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
}
/* ROOT COLORS */
* {
  --background-color: #efebe8;
  --background-color-secondary: #c9ced769;
  --font-color: #111111;
  --font-grayscale: #7a7a7a;
  --accent-color: #3a486b;
}
/* BODY */
body {
  background-color: var(--background-color);
}
